
.inter-font{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* shared styles */
body{
    margin: 0 auto     ;
}
main{
    background-color: black;
}
.d-flex{
    display: flex;
}
.btn-primary{
    color: #FFFFFF;
    background-color: #E6533C;
    border: none;
    border-radius: 42px;
    font-size: 1rem;
    font-weight: 600;
    padding: 16px 46.5px;
}
.section-title{
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
}
.section-description{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 50px;
}

.text-white{
    color: white;
}
.text-gray{
    color: rgba(255, 255, 255, 0.5);
}
/* nav related styles */
.navbar{
    justify-content: space-between;
    padding: 56px 190px 94px;
}
.brand{
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: 800;
}
.nav-links{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: none;
    padding: 12px 5px;
    
}
.nav-item{
    list-style: none;
    margin-right: 47px;
}
.nav-item a{
    text-decoration: none;
    color: #FFFFFF;
}
#nav-btn{
    background-color: #E6533C;
    padding: 8px 20px;
    border: none;
    border-radius: 46px;
}


/* banner Styles */
.bg-color{
    background:linear-gradient(180deg,rgba(17, 17, 17, 0.9),rgba(119, 119, 119, 0.7) 100%);
    /* background: linear-gradient(180.00deg,rgba(17, 17, 17, 0.719),rgba(119, 119, 119, 0.326) 100%); */
}
.banner{
    max-width: 1060px;
    margin: 0 auto;
    justify-content: space-between;
}
.banner-content{
    margin-bottom: 76px;
}
.banner-title{
    color: white;
    font-size: 5rem;
    
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 28px;
}
#banner-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#download-btn{
    color: #FFFFFF;
    background-color: #000000;
    border: 1px solid white;
    border-radius: 42px;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 16px 46.5px;
    margin-left: 14px;
}
.transparent-btn{
    background-color: rgba(255, 255, 255, 0.10);
    padding: 17px 24px;
    color: white;
    border-radius: 12px;
    position: absolute;
    bottom: 450px;
    right: 350px;
}
.vid-count{
    font-weight: 900;
    font-size: 2.5rem;
}
.vid-text{
    color: rgba(255, 255, 255, 0.65);
}
#banner-img{
    width: 100%;
}

/* Habit section styles */
.habits-container{
    
    padding-top: 100px;
    text-align: center;
}

.movement img,.time img,.practice img,.weight-loss img{
    border-radius: 100px;
    width: 80%;
}
.habits-info{
    gap: 40px;
    justify-content:center;
    margin-right: 40px;
}

/* Run section styles */
.run-container{
    background-color: rgba(34, 34, 34, 1);
    width: 70%;
    margin: 100px auto;
    border: none;
    border-radius: 18px;
    padding: 41px 55px;
    justify-content: space-around;
    align-items: center;

}
.run-info{
    margin:41px 165px 41px 54px;
    /* margin-right: 165px; */
}
.run-container img{
    width: 30%;
    border-radius: 18px;

}

/* BMI section styles */
.bmi-container{
    margin: 88px auto;
    justify-content: center;
}
.bmi-heading{
    margin: 0 auto;
    width: 40%;
}
.bmi{
    background-color: rgba(34, 34, 34, 1);
    justify-content: center;
    
    /* align-items: center; */
}
.bmi h4{
    font-size: 28px;
    font-weight: 900;
}
.chart{
    margin: 50px auto;
}
.chart-info{
    border-collapse: collapse;
    
}
.chart-info th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 13px 18px;
}
.bmi-calculation{
    width: 40%;
    margin: 50px auto;
}
.user-inputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: rgba(255, 255, 255, 0.6);
    gap: 12px;
    

}
.user-inputs input{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border: none;
    border-radius: 8px;
    
}
.text-input{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
    margin-bottom: 34px;
    width: 96%;
    gap: 12px;
}
#calculate-btn{
    display: block;
}
