/* Fonts */
@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.secondary-font{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 8rem;
}

/* shared styles */
body{
    margin: 0 auto;
}
main{
    background-color: black;
}
.d-flex, .nav-links>ul{
    display: flex;
}
.btn-primary{
    color: #FFFFFF;
    background-color: #E6533C;
    border: none;
    border-radius: 42px;
    font-size: 1rem;
    font-weight: 600;
    padding: 16px 46.5px;
    margin-bottom: 20px;
    /* width: 100%; */
}
.section-title{
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
}
.section-description{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 50px;
    font-size: 1rem;
    line-height: 30px;
}
.text-white{
    color: white;
}
.text-gray{
    color: rgba(255, 255, 255, 0.5);
}
.text-center{
    text-align: center;
}


/* nav related styles */
.navbar{
    justify-content: space-around;
    align-items: center;
    padding: 56px auto 94px;
    margin: 0 auto;
    width: 80%;
    
}
.brand{
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: 800;
    /* width: 100%; */
    /* text-align: start; */
    margin-right: 70px;
}
.nav-links ul{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: none;
    padding: 12px 5px;

}
.bar-icon{
    display: none;
}
.nav-item{
    list-style: none;
    margin-right: 47px;
}
.nav-item a{
    text-decoration: none;
    color: #FFFFFF;
}
#nav-btn{
    background-color: #E6533C;
    padding: 8px 20px;
    border: none;
    border-radius: 46px;
}


/* banner Styles */
header{
    background: linear-gradient(180.00deg,rgba(19, 18, 18, 0.979),rgb(17, 17, 17) 100%);
}
.banner{
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}
.banner-content{
    margin-bottom: 40px;
}
.banner-title{
    color: white;
    font-size: 5rem;  
    font-weight: 900;
    line-height: 100px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 28px;
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 28px;
    line-height: 25px;
}
.banner-btn{
    justify-content: space-between;
}
#download-btn{
    color: #FFFFFF;
    background-color: #000000;
    border: 1px solid white;
    border-radius: 42px;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 16px 46.5px;
    /* margin-left: 14px; */
    margin-bottom: 20px;
}
.transparent-tutorial-btn{
    background-color: rgba(48, 48, 48, 0.54);
    padding: 17px 24px;
    color: white;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    position: absolute;
    bottom:12%;
    right: 28%;  
    align-items: center;
    gap: 10px;
}
.dot {
    height: 40px;
    width: 40px;
    background-color: #E6533C;
    border-radius: 50%;
  }
.transparent-workout-btn{
    background-color: rgba(255, 255, 255, 0.10);
    padding: 17px 15px;
    color: white;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    position: absolute;
    bottom: 61%;
    right: 7%;
}
.vid-count-tutorial{
    font-weight: 900;
    font-size: 1.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
    /* margin-bottom: 8px; */
}
.vid-count-workout{
    font-weight: 900;
    font-size: 2rem;
    margin-block-start: 0;
    margin-block-end: 0;
    
}
.vid-text{
    color: rgba(255, 255, 255, 0.65);
    margin-block-start: 0;
    margin-block-end: 0;
}

.banner{
    position: relative;
}
#banner-img{
    width: 100%;
    position: relative;
    top: 5px;
}


/* Habit section styles */
.habits-container{
    padding-top: 100px;
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
}
.movement img{
    border-radius: 100%;
    width: 86%;
}
.weight-loss img{
    border-radius: 100%;
    width: 90%;
}
.practice img{
    width: 82%;
    border-radius: 100%;
}
.time img{
    width: 100%;
    border-radius: 100%;
}
.habits-info{
    gap: 40px;
    justify-content:center;
    margin-right: 40px;
}


/* Run section styles */
.run-container{
    background-color: rgba(34, 34, 34, 1);
    max-width: 70%;
    margin: 100px auto;
    border: none;
    border-radius: 18px;
    padding: 45px;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.run-info{   
    width: 60%;
}
.athlete-img img{
    width: 100%;
    border-radius: 18px;
}


/* BMI section styles */
.bmi-container{
    margin: 88px auto;
    justify-content: center;
}
.bmi-heading{
    margin: 0 auto;
    width: 40%;
}
.bmi{
    background-color: rgba(34, 34, 34, 1);
    justify-content: center;
}
.bmi h4{
    font-size: 28px;
    font-weight: 900;
}
.chart{
    margin: 50px auto;
    /* width: 100%; */
}
.chart-info{
    border-collapse: collapse;   
}
.chart-info th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 13px 18px;
}
.bmi-calculation{
    width: 50%;
    margin: 50px auto;
}
.user-inputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: rgba(255, 255, 255, 0.6);
    gap: 20px;
}
.user-inputs input{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border: none;
    border-radius: 8px; 
}
.text-input{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
    margin-bottom: 34px;
    width: 96%;
    gap: 12px;
}
#calculate-btn{
    display: block;
}


/* Team section styles */
.team-container{
    padding-bottom: 88px;
}
.team-intro{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(255, 255, 255, 0.1);
    gap:20px;
    width: 70%;
    justify-items: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 18px;
    text-align: start;
}
.trainer-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}
.t-name{
    margin-top: -70px;
    padding-left: 20px;
    
}
.t-designation{
    margin-top: -15px;
    padding-left: 20px;    
}

/* Supplement section styles */
.supplement-container{
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 70px;
}
.supplement-info img{
    width: 90%;
    border-radius: 100%;
}
.nutrition{
    gap: 20px;
}


/* Footer related styles */
footer{ 
    background-color: rgba(17, 17, 17, 0.959);
    padding:65px;
    text-align: center;
}
.footer-column{
    display: grid;
    grid-template-columns: 40% repeat(2, 1fr);
    justify-items: center;
    
}
.brand-footer{
    color: #E6533C;
    font-size: 3.5rem;
    font-weight: 800;   
    margin-block-start: 0;
    margin-block-end: 0;
}
.footer-info{
    margin:0 auto;
}
.footer-info li{
    list-style: none;
    margin-bottom: 20px;
}
.footer-info a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    
}
.footer-info ul {    
    padding-inline-start: 0px;
}
.footer-col-heading{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 39px;
}
#footer-hr{
    border: .05px solid rgba(255, 255, 255, 0.1);
}
#copyright-text{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 1.25rem;
    margin-top: 40px;
}

/* Responsive media query  */
@media screen and (max-width:576px) {

   .transparent-tutorial-btn{
    bottom: 17.5%;
    right: 51%;

   }
   .transparent-workout-btn{
    bottom: 34%;
    right: 0%;
   }
   .transparent-tutorial-btn .vid-count-tutorial{
    font-size: 1rem;
   }
   .transparent-workout-btn .vid-count-workout{
    font-size: 1.5rem;
   }
   .vid-text{
    font-size: 0.8rem;
   }
    .footer-column,
    .team-intro{
        grid-template-columns: 1fr;
    }
    .banner,
    .nutrition,
    .bmi,
    .habits-info,
    .run-container{
        flex-direction: column;
    }
    .bmi-calculation{
        justify-content: center;
        margin: 0 auto;
    }
    .user-inputs input{
        width: 80%;
        
    }
    .text-input{
        width: 91%;
    }
    .nav-links ul{
        display: none;
    }
    .bar-icon{
        display: block;
        color: #FFFFFF;
        border: none;
        
    }
}